nav a{
    margin: 3px;
    padding: 2px;
    border: 0;
    background-color: lightseagreen;
}

#logo{
    height: 40px;
    width: 40px;
    margin-left: 2px;
    padding-left: 4px;
    background-color: white;
    margin-right: 10ex;
}

body{
    background-color: lightskyblue;
}

nav a:hover{
    background-color: greenyellow;
}

#mainPortion{
    border: 2px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 2px;
    border-radius: 3px;
}